<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205405153764-8vln9b6v02997ln9fvu5b85hismrbj8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205405153764-8vln9b6v02997ln9fvu5b85hismrbj8c</string>
	<key>API_KEY</key>
	<string>AIzaSyD5fADllUZPpgB7IfDHYWgCtPKOn2L5l8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>205405153764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maxim.hammer</string>
	<key>PROJECT_ID</key>
	<string>pizzadelivery-86827</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadelivery-86827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205405153764:ios:5dc3355a8a18c318e2bff1</string>
</dict>
</plist>